{% from 'macros/helpers.twig' import sprite %}

{% block html_head_container %}
{% include 'html-header.twig' %}
{% block head %}{% endblock %}
</head>
{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">
		{% include "partials/header.twig" %}
		{% include "menu.twig" with { 'menu': menu } %}
		<main id="main" role="main" class="pt-lv12">
			{% block content %}
			{% endblock %}
		</main>
    	{% include "partials/footer.twig" %}
			
		{{ function('wp_footer') }}

	</body>
</html>
