{% if menu %}
	<ul {% if sub %}class="dropdown-menu" aria-labelledby="supportedContentDropdown"{% endif %}>
	{% for item in menu %}
		<li class="nav-item {% if item.get_children %}dropdown{% endif %} {{ item.classes | join(' ') }}">
			<a class="nav-link {% if item.get_children %}dropdown-toggle{% endif %}" {% if item.get_children %} id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% endif %} href="{{ item.link }}">{{ item.title }}</a>
			{% include "menu.twig" with { 'menu': item.get_children, 'sub': true } %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
