.header {

	&__logo {
		display: block;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background-color: grey;
	}

	&__menu-toggle {
		.header.is-menu-visible & {
			.hamburger {
				@include hamburger-make-x;
			}
		}
	}
	
}