.slideshow-block {
  padding: 0;

  .slider {
    &.slick-initialized {
      .slide-item {
        display: block;
      }
    }

    .slide-item {
      position: relative;
      display: none;

      &:first-child {
        display: block;
      }

      &.white {
        .slide-gradient {
          background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        }

        &.right {
          .slide-gradient {
            background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
          }
        }

        .slide-caption {
          color: #fff;
        }
      }

      &.right {
        .slide-gradient {
          background: linear-gradient(to left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
        }

        .slide-caption {
          text-align: right;
        }
      }

      button {
        cursor: pointer;
      }

      a {
        text-decoration: none;
        color: inherit;
        outline: none;
      }
    }
  }

  .image {
    @include media-breakpoint-up(sm) {
      padding-top: 50%;
    }

    @include media-breakpoint-up(md) {
      padding-top: 48%;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 46%;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 44%;
    }

    @include media-breakpoint-up(xxl) {
      padding-top: 42%;
    }
  }

  .slide-caption {
    width: 100%;
    padding-left: 1.875em;
    padding-right: 1.875em;

    @include position(absolute, 50% null null null);
    transform: translateY(-50%);

    @include media-breakpoint-up(md) {
      padding-left: 0;
      padding-right: 0;
    }

    h2 {
      font-size: 1.25em;

      @include media-breakpoint-up(md) {
        font-size: 1.75em;
      }

      @include media-breakpoint-up(lg) {
        font-size: 2.25em;
      }

      @include media-breakpoint-up(xl) {
        font-size: 3em;
      }
    }

    .btn {
      display: none;

      @include media-breakpoint-up(md) {
        display: inline-block;
      }
    }
  }

  .slide-gradient {
    width: 100%;
    height: 100%;

    @include position(absolute, 0 null null 0);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  }

  .slick-arrow {
    &.slick-prev {
      left: 0;

      @include media-breakpoint-up(sm) {
        left: 2.5%;
      }
    }

    &.slick-next {
      right: 0;

      @include media-breakpoint-up(sm) {
        right: 2.5%;
      }
    }
  }

  .slick-dots {
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
  }
}