.offcanvas {
  position: relative;
  backface-visibility: hidden;

  #main {
    transition: all 0.3s;
  }

  .nav-offcanvas {
    background: #fff;
    width: 75%;
    height: 100%;
    overflow: auto;
    z-index: 800;
    text-align: center;
    backface-visibility: hidden;
    transition: all 0.3s;
    -webkit-overflow-scrolling: touch;
    @include position(fixed, 0 null 0 null);

    ul {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .nav-item {
      position: relative;
      text-align: center;

      &.current-menu-item {
        > a {
          color: $brand-primary;
        }
      }

      .nav-link {
        height: 3.125em;
        line-height: 3.125em;
        padding-top: 0;
        padding-bottom: 0;
        background: none;
        color: inherit;
        font-size: 1.25em;
      }
    }
  }
}

.offcanvas-right {
  #main {
    transform: translateX(0);

    .state--offcanvas & {
      transform: translateX(-75%);

      @include media-breakpoint-up(lg) {
        transform: translateX(0);
      }
    }
  }

  .nav-offcanvas {
    left: 100%;

    .state--offcanvas & {
      transform: translateX(-100%);
    }
  }
}

.offcanvas-left {
  #main {
    transform: translateX(0);

    .state--offcanvas & {
      transform: translateX(75%);

      @include media-breakpoint-up(lg) {
        transform: translateX(0);
      }
    }
  }

  .nav-offcanvas {
    right: 100%;

    .state--offcanvas & {
      transform: translateX(100%);
    }
  }
}