<footer class="footer">
	<div class="grid-container">
		<div class="grid-x grid-padding-x grid-margin-x">
			<div class="cell text-center">
				<p class="mar-b0">
					<small>Made by <a class="c-body" href="http://tomoki.pl" target="_blank">Tomoki</a>. © {{ "now"|date('Y') }} {{ function('get_bloginfo','name') }}.</small>
				</p>
			</div>
		</div>
	</div>
</footer>