@mixin clearfix {
    *zoom: 1;
    &:before {
        @extend %clear;
    }
    &:after {
        @extend %clear;
        clear: both;
    }
}

%clear {
    content: ' ';
    display: table;
}

.clearfix {
    @include clearfix;
}
