.c-body {
	color: $body-font-color;
}

.c-primary {
	color: $primary-color;
}

.c-secondary {
	color: $secondary-color;
}

// .c-white {
//     color: #fff;
// }

// .bg-black {
// 	background-color: #000;
// }

// .bg-primary {
//     background-color: $primary-color;
// }

// .bg-secondary {
// 	background-color: $secondary-color;
// }

// .bg-white {
//     background-color: #fff;
// }

.bg-cover {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

// .bg-cover-top {
// 	background-position: center top;
// }

// .bg-cover-bottom {
// 	background-position: center bottom;
// }

// .bg-cover-lb {
// 	background-position: left bottom;
// }

// .bg-cover-rb {
// 	background-position: right bottom;
// }

// .border {
// 	border: 1px solid;
// }
