.block {
  padding: 1em 0;

  @include media-breakpoint-up(md) {
    padding: 2em 0;
  }

  @include media-breakpoint-up(lg) {
    padding: 3em 0;
  }

  &.full-width {
    .container {
      width: 100%;
    }
  }
}