.comment-form {
  margin-top: $spacer * 2;
}

.comments {
  .comment-author {
    margin-bottom: $spacer / 2;
  }

  .comment-content {
    p {
      margin-bottom: $spacer;
    }
  }

  .blog-comment {
    margin-top: $spacer * 2;

    > .comment-box {
      padding-left: $spacer * 2;
      border-left: 5px solid $gray-lightest;
    }

    > .comment-form {
      margin-top: $spacer;
      display: none;
    }
  }
}